<h1>Registro de Pessoas</h1>
<table class="table">
  <thead>
    <tr>
      <th scope=>id</th>
      <th scope=>nome</th>
      <th scope=>role</th>
      <th scope=>age</th>
      <th scope=>email</th>
      <th scope=>isActive</th>
      <th scope=>country</th>
      <th scope=>experience</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{ pessoa.id }}</td>
      <td>{{ pessoa.name }}</td>
      <td>{{ pessoa.role }}</td>
      <td>{{ pessoa.age }}</td>
      <td>{{ pessoa.email }}</td>
      <td>{{ pessoa.isActive }}</td>
      <td>{{ pessoa.country }}</td>
      <td>{{ pessoa.experience }}</td>
      <td>
    </tr>
  </tbody>
</table>



  